//项目提供scss全局变量
//$color-base: brown;

$base-menu-width: 170px;
//左侧菜单宽度
$base-menu-background: #304156 ;
//左侧菜单背景颜色
$base-menu-in:rgb(191, 203, 217);
//左侧菜单嵌套颜色
$base-tabbar-height:60px;
//顶部导航高度
$base-middle-height:34px
//顶部分页高度